In [1]:
import pandas as pd

In [2]:
corona_data_nl = pd.read_csv("../../data/raw_data/corona/nl_corona.csv", delimiter= "\t").dropna()
print(corona_data_nl.shape)

(4152, 9)

In [3]:
print(corona_data_nl.isna().any().any())

False

In [4]:
corona_data_nl

,date,region_name,region_code,deceased_addition,confirmed_addition,hospitalized_addition,deceased_cumulative,confirmed_cumulative,hospitalized_cumulative
192,2020-03-14,Drenthe,22,0.0,2.0,0.0,0.0,15,0.0
193,2020-03-14,Flevoland,24,0.0,7.0,0.0,0.0,14,3.0
194,2020-03-14,Friesland,21,0.0,1.0,0.0,0.0,8,1.0
195,2020-03-14,Gelderland,25,1.0,12.0,5.0,1.0,76,14.0
196,2020-03-14,Groningen,20,0.0,0.0,0.0,0.0,4,1.0
...,...,...,...,...,...,...,...,...,...
4339,2021-02-22,Noord-Holland,27,6.0,821.0,12.0,2206.0,180576,3666.0
4340,2021-02-22,Overijssel,23,1.0,197.0,2.0,1018.0,74359,1125.0
4341,2021-02-22,Utrecht,26,1.0,291.0,4.0,1111.0,84449,1971.0
4342,2021-02-22,Zeeland,29,1.0,77.0,1.0,171.0,15987,456.0
4343,2021-02-22,Zuid-Holland,28,5.0,802.0,26.0,3653.0,250759,6043.0